<div class="row" style="height: 10%;">
	<h3 style="float: left;">Welcome to Custom Js Css</h3>
	<br><br><br>
	<div class="panel panel-default welcome">
		<div class="panel-body">
    		<p>Custom JS/CSS is an app that lets you create and maintain custom Javascript 
    		and CSS content for your DHIS 2 instance. The Javascript and CSS can be used to 
    		override existing look or behavior or add new. This app is a front-end to the 
    		<a href="https://www.dhis2.org/doc/snapshot/en/developer/html/dhis2_developer_manual_full.html#d5137e5015">
    		files Web API resource</a>.
    		</p>
    		<p>For example, you can:</p>
    			<ul>
    				<li>Modify the look of login page.
    				<li>Modify the behaviour of dataentry forms (learn more 
    				<a href="https://www.dhis2.org/doc/snapshot/en/user/html/dhis2_user_manual_en_full.html#d5e1408">here</a> about scripting in forms).</li>
    				<li>...</li>
    			</ul>
    		<p>To edit the js and css files, just click in the tabs on the left side menu. 
    		When done, press the save button. 
    		</p>
    		<div class="alert alert-info" role="alert"><b>Important:</b> Take care of cache. 
    		If the files are modified and you cannot see the
			modifications, clean browser cache. If using nginx, the files can be
			also cached by nginx.
			</div>
		</	div>
	</div>
</div>