@media print {

	input.msfocba-large-size {
		height: 90px;
	}
	
	input.msfocba-medium-size {
		height: 45px;
	}
	
	input.entryfield, table.formSection, table.sectionTable {
		width: 100%;
	}
	
	input.entryfield {
		background-color: white;
		color: white;
	}

}